<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Univex IV - Consultorio Juridico Docentes y Admin V.1.0.1.(3 Abril 2017)</display-name>
  <servlet>
    <servlet-name>WebAppConsultorioDoce</servlet-name>
    <servlet-class>org.apache.wicket.protocol.http.WicketServlet</servlet-class>
    <init-param>
      <param-name>applicationClassName</param-name>
      <param-value>com.bt.inicio.InitApplication</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebAppConsultorioDoce</servlet-name>
    <url-pattern>/Control/*</url-pattern>
  </servlet-mapping>
</web-app>

